.header {
  background-color: #444;
}

.header-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.header-item {
  padding: 20px 20px;
}

.link {
  color: #fff;
  text-decoration: none;
}

.active {
  color: #00f;
}

.item {
  margin-left: 150px;
  width: 300px;
}

.header-input {
  width: 100%;
  padding: 7px;
  border: 0;
  border-radius: 8px;
}